html{width:200% ; height:200%;}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: tomato;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #222;
    color: white;
}

.header 
{color: red
    
}
.menu
{
    
}
